<div class="container mt-3">
  <p-table 
    [value]="authMemberData" 
    selectionMode="single" 
    [(selection)]="selectedMember" 
    [paginator]="true" 
    [rows]="10"
    [responsive]="true" 
    (onRowSelect)="onRowSelectMember()">

    <ng-template pTemplate="header">
      <tr>
        <th class="txt-sm">ID #</th>
        <th class="txt-sm">Member Name</th>
        <th class="txt-sm">Endorser</th>
        <th class="txt-sm">Approver</th>
        <th class="txt-sm">Min$</th>
        <th class="txt-sm">Max$</th>
        <th class="txt-sm">Approver (Junket)</th>
        <th class="txt-sm">Min$ (Junket)</th>
        <th class="txt-sm">Max$ (Junket)</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData>
      <tr [pSelectableRow]="rowData">
        <td class="txt-sm">{{ rowData.id }}</td>
        <td class="txt-sm">{{ rowData.name }}</td>
        <td class="txt-sm">{{ rowData.endorser }}</td>
        <td class="txt-sm">{{ rowData.approver }}</td>
        <td class="txt-sm">{{ rowData.approverMin }}</td>
        <td class="txt-sm">{{ rowData.approverMax }}</td>
        <td class="txt-sm">{{ rowData.approverJunket }}</td>
        <td class="txt-sm">{{ rowData.approverJunketMin }}</td>
        <td class="txt-sm">{{ rowData.approverJunketMax }}</td>
      </tr>
    </ng-template>
  </p-table>

  <div class="row mt-3">
    <div class="col">
      <div class="d-flex justify-content-center">
        <button type="button" pButton class="p-button-primary m-2" (click)="clickAuthMemberDialog('add')">Add</button>
        <button type="button" pButton class="p-button-primary m-2" (click)="clickAuthMemberDialog('modify')" [disabled]="!selectedMember">Modify</button>
        <button pButton type="button" class="p-button-danger m-2" (click)="clickAuthMemberDialog('delete')" [disabled]="!selectedMember">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- [begin] Auth Member Dialog -->
<p-dialog 
  [(visible)]="isOpenAuthMemberDialog" 
  [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
  [style]="{width: authMemberDialogType === 'delete' ? '500px' : '1000px'}"
  (onHide)="cancelAuthMember()">

  <ng-template pTemplate="header">
    <ng-container *ngIf="authMemberDialogType === 'add'">
      Add Member Details
    </ng-container>

    <ng-container *ngIf="authMemberDialogType === 'modify'">
      Modify Member Details
    </ng-container>

    <ng-container *ngIf="authMemberDialogType === 'delete'">
      Confirmation
    </ng-container>
  </ng-template>

  <ng-container *ngIf="(authMemberDialogType === 'add') || (authMemberDialogType === 'modify')">
    <div class="modal-body">
      <p-tabView [(activeIndex)]="tabViewIndex" (onChange)="tabViewIndex = $event.index">
        <p-tabPanel header="Main">
          <form [formGroup]="authMemberForm">
            <div class="row mt-3">
              <div class="col-sm-4">
                <label>ID #</label>
              </div>
  
              <div class="col-sm-8">
                <input type="number" name="id" class="w-100" formControlName="id">
              </div>
            </div>
  
            <div class="row mt-3">
              <div class="col-sm-4">
                <label>Member Name</label>
              </div>
  
              <div class="col-sm-8">
                <input type="text" name="id" class="w-100" formControlName="name">
              </div>
            </div>
  
            <div class="row mt-3">
              <div class="col-sm-4">
                <label>Endorser</label>
              </div>
  
              <div class="col-sm-8">
                <p-radioButton name="endorser" label="TRUE" [value]="true" formControlName="endorser"></p-radioButton>&nbsp;&nbsp;
                <p-radioButton name="endorser" label="FALSE" [value]="false" formControlName="endorser"></p-radioButton>
              </div>
            </div>
  
            <div class="row mt-3">
              <div class="col-sm-4">
                <label>Approver</label>
              </div>
  
              <div class="col-sm-8">
                <p-radioButton name="approver" label="TRUE" [value]="true" formControlName="approver"></p-radioButton>&nbsp;&nbsp;
                <p-radioButton name="approver" label="FALSE" [value]="false" formControlName="approver"></p-radioButton>
              </div>
            </div>
  
            <div class="row mt-3">
              <div class="col-sm-4">
                <label>Approver Junket</label>
              </div>
  
              <div class="col-sm-8">
                <p-radioButton name="approverJunket" label="TRUE" [value]="true" formControlName="approverJunket"></p-radioButton>&nbsp;&nbsp;
                <p-radioButton name="approverJunket" label="FALSE" [value]="false" formControlName="approverJunket">
                </p-radioButton>
              </div>
            </div>
          </form>
        </p-tabPanel>

        <!-- [begin] Tab Panel -->
        <p-tabPanel header="Current Limit">
          <p-table 
            [value]="approversData" 
            selectionMode="single" 
            [(selection)]="selectedApproverConfig"
            [responsive]="true" 
            (onRowSelect)="onRowSelectApproverConfig($event)">

            <ng-template pTemplate="header">
              <tr>
                <th class="txt-sm">Currency</th>
                <th class="txt-sm">Min Approver Limit</th>
                <th class="txt-sm">Max Approver Amount</th>
                <th class="txt-sm">Min Approver Limit (Junket)</th>
                <th class="txt-sm">Max Approver Amount (Junket)</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
              <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                <td class="txt-sm">{{ rowData.currency }}</td>
                <td class="txt-sm">{{ rowData.approverMin }}</td>
                <td class="txt-sm">{{ rowData.approverMax }}</td>
                <td class="txt-sm">{{ rowData.approverJunketMin }}</td>
                <td class="txt-sm">{{ rowData.approverJunketMax }}</td>
              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
              <tr>
                <td class="text-center" colspan="5">No records found</td>
              </tr>
            </ng-template>
          </p-table>

          <div class="row mt-3">
            <div class="col text-center">
              <button type="button" pButton class="p-button-primary m-2" (click)="clickApproverConfigDialog('add')">Add</button>
              <button type="button" pButton class="p-button-primary m-2" (click)="clickApproverConfigDialog('modify')" [disabled]="!selectedApproverConfig">Modify</button>
              <button type="button" pButton class="p-button-danger m-2" (click)="clickApproverConfigDialog('delete')" [disabled]="!selectedApproverConfig">Remove</button>
            </div>
          </div>
        </p-tabPanel>
        <!-- [end] Tab Panel -->

      </p-tabView>
    </div>
  </ng-container>

  <ng-container *ngIf="authMemberDialogType === 'delete'">
    <div class="modal-body">
      <h5>Are you sure want to delete this record ?</h5>
    </div>
  </ng-container>

  <ng-template pTemplate="footer">
    <ng-container *ngIf="(authMemberDialogType === 'add') || (authMemberDialogType === 'modify')">
      <button type="button" pButton class="p-button-primary m-2" (click)="submitAuthMember()" [disabled]="!authMemberForm.valid || isOpenApproverConfig">Save</button>
    </ng-container>

    <ng-container *ngIf="authMemberDialogType === 'delete'">
      <button type="button" pButton class="p-button-danger m-2">Yes</button>
      <button type="button" pButton class="p-button-default m-2" (click)="isOpenAuthMemberDialog = false">No</button>
    </ng-container>
  </ng-template>
</p-dialog>
<!-- [end] Auth Member Dialog -->

<!-- [begin] Approver Config Dialog -->
<p-dialog 
  [(visible)]="isOpenApproverConfig" 
  [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
  [style]="{width: approverConfigType === 'delete' ? '500px' : '800px'}"
  (onHide)="cancelApproverConfig()">

  <ng-template pTemplate="header">
    <ng-container *ngIf="approverConfigType === 'add'">
      Add Current Limit
    </ng-container>

    <ng-container *ngIf="approverConfigType === 'modify'">
      Modify Current Limit
    </ng-container>

    <ng-container *ngIf="approverConfigType === 'delete'">
      Confirmation
    </ng-container>
  </ng-template>

  <ng-container *ngIf="(approverConfigType === 'add') || (approverConfigType === 'modify')">
    <div class="modal-body">
      <form [formGroup]="approvers">
        <div class="row mt-3">
          <div class="col-sm-4">
            <label>Currency</label>
          </div>
  
          <div class="col-sm-8">
            <input type="text" name="currency" class="w-100" formControlName="currency">
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-sm-4">
            <label>Min Approver Limit</label>
          </div>
  
          <div class="col-sm-8">
            <input type="number" name="approverMin" class="w-100" formControlName="approverMin">
          </div>
        </div>
        
        <div class="row mt-3">
          <div class="col-sm-4">
            <label>Max Approver Amount</label>
          </div>
  
          <div class="col-sm-8">
            <input type="number" name="approverMax" class="w-100" formControlName="approverMax">
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-sm-4">
            <label>Min Approver Limit (Junket)</label>
          </div>
  
          <div class="col-sm-8">
            <input type="number" name="approverJunketMin" class="w-100" formControlName="approverJunketMin">
          </div>
        </div>
  
        <div class="row mt-3">
          <div class="col-sm-4">
            <label>Max Approver Amount (Junket)</label>
          </div>
  
          <div class="col-sm-8">
            <input type="number" name="approverJunketMax" class="w-100" formControlName="approverJunketMax">
          </div>
        </div>
      </form>
    </div>
  </ng-container>

  <!-- <ng-container *ngIf="approverConfigType === 'delete'">
    <div class="modal-body">
      <h5>Are you sure want to delete this record ?</h5>
    </div>
  </ng-container> -->

  <ng-template pTemplate="footer">
    <ng-container *ngIf="(approverConfigType === 'add') || (approverConfigType === 'modify')">
      <button type="button" pButton class="p-button-primary m-2" (click)="submitApproverConfig()" [disabled]="!approvers.valid">Save</button>
    </ng-container>

    <!-- <ng-container *ngIf="approverConfigType === 'delete'">
      <button type="button" pButton class="p-button-danger m-2" (click)="submitApproverConfig()">Yes</button>
      <button type="button" pButton class="p-button-default m-2" (click)="isOpenApproverConfig = false">No</button>
    </ng-container> -->
  </ng-template>
</p-dialog>
<!-- [end] Approver Config Dialog -->